@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  align-items: center;
  font-family: "Source Sans 3", sans-serif;
}
